<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This will rebuild Fitnesse whenever changes are published by its development team</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>4</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
    <pruneBranches>false</pruneBranches>
  <quietPeriod>10</quietPeriod>
  <scmCheckoutRetryCount>2</scmCheckoutRetryCount>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>02 06 * * * 
02 14 * * * </spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>( curl http://localhost:8088/?responder=shutdown ) &amp;
( curl http://localhost:9234/?responder=shutdown ) &amp;
pwd
mkdir -p ../../../fitnesse/FlyByNightCloud
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant>
      <targets>clean jar</targets>
      <antName>Ant 1.8.2</antName>
    </hudson.tasks.Ant>
    <hudson.tasks.Shell>
      <command>pwd</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>