<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This will start the Fitnesse server as a *NIX Daemon.&lt;br/&gt;&#xd;
&lt;br/&gt;&#xd;
&#xd;
Check with :&lt;br/&gt;&#xd;
ps aux | grep fitnesse | grep -v grep | awk &apos;{print $2}&apos;&#xd;
</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>10</quietPeriod>
  <scmCheckoutRetryCount>2</scmCheckoutRetryCount>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>(curl http://localhost:8088/?responder=shutdown) &amp;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo Disable background job termination
cp ../../BuildFitnesse/workspace/dist/fitnesse.jar .

BUILD_ID=allow_to_run_as_daemon

( java -jar fitnesse.jar  -p 8088 ) &amp;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>