/ConfigureVariables_new.sh
/FirstBootConfigurations_2.sh
/JenkinsConfFixup.sh
/Maverick32dt_Dev.seed
/Oneiric64-cloud.seed
/Oneiric64-minimalvm_dktp.seed
/Oneiric64-server-minimal.seed
/Oneiric64-server.seed
/fullyAutomatic_isolinux_desktop.cfg
/initrd.gz
/*.sh~
